---

---
{% include header.html %}
<div class="wrapper">
    <div class="top">
        <h1 class="page-title"><a href="{{site.url}}/">{{site.title}}</a></h1>
    </div>
    <div class="container">
        <div class="left">
        {% for post in paginator.posts %}
        <article>
            {% if post.title != ""%}<h1><a href="{{site.url}}{{post.url}}">{{post.title}}</a></h1>{%endif%}
            <p>{{post.content}}</p>
            <p class="created">Skrevet d. <a href="{{site.url}}{{post.url}}">{{post.date | date_to_string}}</a></p>
        </article>
        {% endfor %}
        </div>
        <div class="right">
            
            {% include sidebar.html %}
            <!-- Pagination links -->
            <div class="pagination">
            {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}" class="previous">
                Forrige
                </a>
            {% else %}
                
            {% endif %}
            <span class="page_number ">
                Side: {{ paginator.page }} af {{ paginator.total_pages }}
            </span>
            {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}" class="next">Næste</a>
            {% else %}
                <span class="next ">Næste</span>
            {% endif %}
            </div>
        </div>
    </div>
    
</div>
{% include footer.html %}
