<section class="avatar-wrap">
    <img src="{{site.url}}/assets/me.jpg" />
</section>
<section>
    <h3>Om</h3>
    <p>Mit navn er Mathias. Jeg har altid elsket at udgive på nettet. Ideen om at skrive noget eller skabe noget, som dukker op på internettet har altid inspireret mig.</p>
    <p> Jeg er medstifter af <a href="https://www.smartplan.dk">Smartplan</a> og Webloftet, men her på siden skriver jeg under eget navn.
        Jeg skriver b.la. med afsæt i at være medejer af en software produktvirksomhed.</p>
    <p>Denne side er en <a href="{{site.url}}/2017/11/19/en-ny-start.html">Microblog</a>.</p>
</section>
